<div class="editUser-align">
<form class="profileInfo" action="/backToUser" method="post">
  Age: <input type="text" name="age" id = "age" value=""><br>
  Sex: <input type="text" name="sex" id = "sex" value=""><br>
  Location: <input type="text" name="locate" id ="locate" value=""><br>
  About Me: <input type="text" name="bio" id = "bio" value="">
  <input type="submit" name="name" value="Submit">
</form>
</div>
