<div class="editUser-align">
<form class="profileInfo" action="/backToUser" method="post">
  Age: <br><input type="text" name="age" id = "age" value=""><br>
  Sex: <br><input type="text" name="sex" id = "sex" value=""><br>
  Location: <br><input type="text" name="locate" id ="locate" value=""><br>
  About Me: <br><textarea type="text" name="bio" id = "bio" value=""></textarea><br><br>
  <input type="submit" class="buttonID" name="name" value="Submit">
</form>
</div>
