<form class="edit" action="/user" method="post">
Age :<input type="text" name="age" id="age" value="">
Sex :<input type="text" name="sex" id="sex" value="">
Location :<input type="text" name="locate" id= "location" value="">
About me :<input type="text" name="bio" id="bio" value="">
<input type="submit" name="submit" value="Submit Changes">
</form>
