<header>
<h1>Please Enter A Username and Password</h1>
</header>
<section>
  <form class="signUp" action="/" method="post">
    <input type="text" name="username" value=""><br>
    <input type="password" name="password" value="">
    <input type="button" name="name" value="Sign-Up">
  </form>
</section>
