<div id="container">
  <div class="inner">

<div class="loginHeader">
<header>
<h1>Log-In</h1>
</header>
</div>
<hr>
<section id="main_content">
<form class="test" action="/" method="post">
  <div class="section1">
Username:<input type="text" name="username" id= "username" value=""><br>
Password:<input type="password" name="password" id= "password" value=""><br>
  <input type="submit" name="name" value="Sign-In!">
  </div>
</form>
<br>
<h4> Not A Member? </h4>
<form class="signUp" action="/signUp" method="post">
  <input type="submit" name="name" value="Sign-Up">
</form>
</section>
<footer></footer>
</div>

</div>
