<div id="container">
  <div class="inner">

<header>
<<<<<<< HEAD
<h1 class="project-name">Log-In</h1>
</header><br><br>
<div class="text-center">
=======
<h1>Log-In</h1>
</header>
<hr>
<section id="main_content">
>>>>>>> 2c804e27adb1371d25b4f3f7aa9d9fdbe7f05cdc
<form class="test" action="/" method="post">
Username:<input type="text" name="username" id= "username" value=""><br>
Password:<input type="password" name="password" id= "password" value="">

  <input type="submit" name="name" value="Sign-In!">
</form>
</div>
<br>
<h4 class = "text-center"> Not A Member? </h4>


<form class="signUp" action="/signUp" method="post">
  <input type="submit" name="name" value="Sign-Up">
</form>
</section>
<footer></footer>
</div>

</div>
