<div id="container">
  <div class="inner">

<header>
<h1>Log-In</h1>
</header>
<hr>
<section id="main_content">
<form class="test" action="/" method="post">
Username:<input type="text" name="username" id= "username" value=""><br>
Password:<input type="password" name="password" id= "password" value="">
  <input type="submit" name="name" value="Sign-In!">
</form>
<br>
<h4> Not A Member? </h4>
<form class="signUp" action="/signUp" method="post">
  <input type="submit" name="name" value="Sign-Up">
</form>
</section>
<footer></footer>
</div>

</div>

<script type="text/javascript">
  // var error = {{error}}
  // if (true) {
  //   alert("Wrong Password/Username Combination")
  // }
</script>
