  <div class="logoutSections">
<header>
<h1>Log Out?</h1><br>
<h3>Sorry to see you go !</h3>
</header>
<section>
<form class="logout" action="/logout" method="post">
  <input type="submit" class="buttonID" name="logout" value="Log Out =(">
</form>
</section>
  </div>
