<div id="container">
<div class="inner">
  <div>
  <a href="/logout"><h3>Log Out</h3></a>
  </div>

<header>
<div class="incognito">
  <a href="/incognito"><h1>Switch to Incognito</h1></a>
</div>
<div class="profile">
    <a href="/user"><h1>View Profile</h1></a>
</div>
</header>
<audio id="ring">
<source src="Coin-Mario.mp3">
</audio>
<audio id="baring">
<source src="smw_coin.wav">
</audio>
<div class="mainBody">
  <form class="message" id = "messageForm">
    <input type="text" name="message" id = "message" value="">
    <input type="submit" name="submit"  id = "formsubmit" value="Submit">
  </form>
  <section>
  <div id="tweets">
    {{#each allTweets}}
    <div class="username">
      {{username}} wrote: "{{message}}" at {{time}}
    </div>
  {{/each}}
  </div>
  <form class="delete" action="/delete" method="post">
    <input type="submit" name="delete" value="Delete Your Last Post">
  </form>
</section>
</div>
</div>
</div>
<script type="text/javascript">
var audio = new Audio('smw_coin.wav');
var audio2 = new Audio('Coin-Mario.mp3')
var lastTimeStamp = {{lastTimeStamp}};
  function displayTweets() {
    $.getJSON("/posts", function(data){
      var message = data.tweets[0].message;
      var username = data.tweets[0].username;
      var time = data.tweets[0].time;
        $("#tweets").prepend('<div>'+ username + " wrote: " + '"' + message + '"' + " at " + time +'</div>');
    });
  }
$("#formsubmit").click(function(event){
      var form = $("#message")
      event.preventDefault();
      console.log("prevented");
      writeTweet();
      console.log("tweet written");
      form.value = "";
      audio.play();
      displayTweets();
      console.log("tweet displayed");
  });
function writeTweet() {
  var username = document.cookie.replace(/(?:(?:^|.*;\s*)name\s*\=\s*([^;]*).*$)|^.*$/, "$1");
  var message = $("#message")[0].value
  var form = document.getElementById("messageForm")
  var d = new Date();
  var month = parseInt(d.getMonth())+1;
  var time = d.getHours()+":"+d.getMinutes()+":"+d.getSeconds()+" on "+month+"/"+d.getDate()+"/"+d.getFullYear();
  $.post('/main', {'username': username, 'message':message, "time": time})
  form.reset()
 }
function checkTweets(){
    console.log("this is unix time made by server " + lastTimeStamp);
   $.getJSON("/posts", function(data){
     var time = data.tweets[0].date
     console.log("this is unix time pulled from server " + time);
     if (time === lastTimeStamp) {
       console.log('no new tweets')
     }
     else {
       console.log("trying to refresh page");
       audio2.play()
       setTimeout(reload, 450);
   }})
 }
 function reload(){
   location.reload();
 }
 window.setInterval(checkTweets, 1000);
</script>
