<header>
<a href="/tweet">
<div class="tweet">
  <h1>Tweet</h1>
</div>
</a>
<div class="incognito">
  <h1>Switch to Incognito</h1>
</div>
<div class="viewProfile">
  <form class="user" action="/user" method="get">
    <input type="submit" name="user" value="View Profile">
  </form>
</div>
</header>
<div>
  <form class="logout" action="/logout" method="post">
    <input type="submit" name="name" value="Log-Out">
  </form>
</div>
<audio id="ring">
<source src="Coin-Mario.mp3">
</audio>
<div class="mainBody">
  <form class="message" action="/main" method="post">
    <input type="text" name="message" id = "message" value="">
    <input type="submit" onclick="firstCallback()" name="submit"  value="Submit">
  </form>

  <section>
  <div id="tweets">
    {{#each allTweets}}
    <div class="username">
      {{username}} wrote: "{{message}}" at {{time}}
    </div>
  {{/each}}
  </div>
  <form class="delete" action="/delete" method="post">
    <input type="submit" name="delete" value="Delete Your Last Post">
  </form>
</section>
</div>
<script type="text/javascript">
function callback() {
  console.log("i will check for notifications")
  $.getJSON("/posts", function (data) {
      var tweets = data
      if(data.tweets.length > tweets.tweets.length){
      console.log("You have new tweets");}
      else {
        console.log("no new tweets");
      }
});


$.post

  function firstCallback() {
    console.log("callback !")
    setInterval(callback, 6000)
    return true;
  }

</script>
