<header>
  <h1>{{username}}'s profile</h1>
</header>
<section>
  <div id="tweets">
    {{#each uniqueMessages}}
    <div class="username">
      {{username}} wrote: "{{message}}" at {{time}}
    </div>
    {{/each}}
  </div>
</section>
