<header>
<h1>Please Enter A Username and Password</h1>
</header>
<section>
  <form class="signUp" action="/login" method="post">
    Username:<input type="text" name="username" value=""><br>
    Password:<input type="password" name="password" value="">
    <input type="submit" name="name" value="Sign-Up">
  </form>
</section>
