<header>
  <h1> Write Your Tweet! </h1>
</header>
<section>
  <form class="message" action="/main" method="post">
    <input type="text" name="message" id = "message" value="">
    <input type="submit" name="submit" value="Submit">
  </form>
</section>
