<header>
  <h1>Hello, {{username}}!</h1>
</header>
<section>
  {{messages}}
  <form class="tweet" action="/main" method="post">
    <input type="text" name="message" id = "message" value="">
    <input type="submit" name="submit" value="Submit">
  </form>
</section>
